# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Raw datasets
data/raw/

# Documentation datasets
docs/

# Temporary ETL scripts
etl/temp_test.py
etl/test_insert_region.py
etl/update.py